*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.content{
    max-width: 1250px;
    margin: auto;
}
.navbar{
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 30px;
    transition: all 0.3s ease;
}
.navbar.sticky{
    background: black;
    padding: 0px 30px;
    transition: all 0.3s ease;
}
.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-links{
    display: inline-flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    color: #fff;
    text-decoration: none;
    margin-left:25px;
}
.navbar-links li a{
    /**/
}
.navbar-logo img{
    height: 50px;
    width: auto;
    padding: 10px;
}
.icon{
    color: #FFF;
    font-size:20px;
    cursor: pointer;
    display: none
}
.icon.cancel-button{
    position: absolute;
    right: 20px;
    top: 15px;
}
.icon.menu-button{
    position: absolute;
    left:10px;
    top:15px;
}
.title{
    position: relative;
}
.banner{
    height: 100vh;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banner .content{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.text-box{
    width: 90%;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.title h1{
    font-size: 84px;
    font-weight: 500;
}
.text-box p{
    margin: 5px 0 55px;
    font-size: 16px;
}
.countdown-container{
    font-size: 36px;
}
.intro{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
.intro p{
    font-size: 15px;
    padding: 7.5px;
}
.intro h2{
    font-size:36px;
}
.image-gallery{
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    column-count: 2;
    column-gap: 10px;
}
.image-gallery img {
    width: 100% !important;
    height: auto !important;
    margin-bottom:5px; /* to match column gap */
}
.merch-banner{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(48,48,163,1) 50%, rgba(0,212,255,1) 100%);
    margin-left: auto;
    margin-right: auto;
}
.sponsors{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
    font-size: 24px;
    font-weight: 300;
}
.sponsors p{
    font-size: 15px;
    padding: 10px;
}
.sponsors h1{
    font-size: 54px;
    padding-bottom: 40px;
}
.sponsors h2{
    font-size: 36px;
    padding: 25px;
    font-weight: 400;
}
.sponsors h4{
    font-size: 32px;
    font-weight: 400;
}
.sponsors img{
    padding: 14px;
    width: 25%;
}
.tier-2-sponsor{
    padding-top: 35px; 
    column-count: 2;
    column-gap: 50px;
}
.tier-2-sponsor img{
    width: 35%;
}
.tier-3-sponsor{
    padding-top: 35px; 
    column-count: 3;
    column-gap: 25px;
}
.tier-3-sponsor img{
    width: 45%;
}

@media (max-width: 800px){
    .image-gallery{
        column-count: 1;
    }
}
@media (max-width: 1028px){
    body.disabledScroll{
        overflow: hidden;
    }
    .icon{
        display: block;
    }
    .icon.hide{
        display: none;
    }
    .navbar-links{
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 60%;
        max-width: 400px;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar-links.active{
        left: 0%;
    }
    .navbar-links li{
        margin-top: 45px;
    }
    .navbar-logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .title h1{
        font-size: 36px;
    }
    .title p{
        font-size: 14px;
    }
    .countdown-container{
        font-size: 24px;
    }
    .title-sponsor img{
        width: 45%;
    }
    .tier-2-sponsor{
        column-count: 1;
    }
    .tier-2-sponsor img{
        width: 45%;
    }
    .tier-3-sponsor{
        column-count: 1;
    }
}
