*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: white;
}
.navbar-logo img{
    height: 50px;
    width: auto;
    padding: 10px;
}
.navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
}
.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: #464646;
    transition: 0.5s;
}
.toggle-button{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
}
.text-box{
    width: 90%;
    color: #FFFFFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: 500;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
}
.button{
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #FBA922;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #198844;
    background: #198844;
    transition: 1s;
}
nav .material-icons{
    display: none;
}
.countdown-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px;
    font-size: 48px;
}
/*about us*/
.intro{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 75px;
}
.intro p{
    font-size: 15px;
    padding: 7.5px;
}
.intro h2{
    font-size:36px;
}
/*image-showcase
.showcase{

}
.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}*/
/* Mobile friendly stuff */
@media(max-width: 700px){
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    .text-box h1{
        font-size: 36px;
        font-weight: 400;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #FBA922;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .material-icons{
        display: block;
        color: #FFFFFF;
        margin: 10px; 
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .countdown-container{
        font-size: 20px;
        font-weight: 500px;
    }
    .intro p{
    font-size: 15px;
    }
    .intro h3{
        font-size: 19px;
    }
}
